:root{
    font-size: 16px;
    font-family: 'Poppins';
    --text-primary: wheat;
    --text-secondary: #5e4c38;

    --bg-primary: #202731;
    --bg-secondary: #8f95e0;

    --transition-speed: 600ms;



    /* COLORS */

    --hue-color: 250;

    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);

    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);

    --intput-color: hsl(var(--hue-color), 70%, 96%);

    --body-color: hsl(var(--hue-color), 60%, 99%);

    --container-color: #FFF;

    --complementary-color: hsl(140, 64%, 59%);


    /* FONTS/TIPOGRAFIA */
    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* BASE */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body { /* #202731; */
    color: wheat;
    background: var(--body-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

img {
    max-width: 100%;
    height: auto;
}

/* classes uteis */
.section {
    padding: 2rem 0 4 rem;
}
.section__title {
    font-size: var(--h1-font-size);
}
.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}
.section__title, .section__subtitle {
    text-align: center;
}
/* --------------------------- */


/* layout */
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.grid{
    display: grid;
    gap: 1.5rem;
}
/* --------------------------- */
.home__content{
    grid-template-columns: .5fr 3fr;
    padding-top: 2rem;
    align-items: center;
}
.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.home__social-icon{
    font-size: 2.5rem;
    color: var(--first-color);
}
.home__social-icon:hover{
    color: var(--first-color-alt);
}
.home__blob{
    width: 200px;
    fill: var(--first-color);
}
.home__blob-img{
    width: 200px;
}
.home__img{
    padding-left: 100px;
    margin-left: 50px;
    width: 550px;
}
.home__data{
    grid-column: 1/3;
}
.home__title{
    font-size: var(--big-font-size);
}
.home__subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}
.home__description{
    margin-bottom: var(--mb-2);
}


.about__img{
    width: 400px;
    border-radius: 1.75rem;
    justify-self: center;
    align-self: center;
}
.about__description{
    text-align: center;
    margin-bottom: var(--mb-2-5);
    color:hsl(139, 30%, 75%);
}
.about__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about__info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--complementary-color);
}
.about__info-name{
    font-size: var(--small-font-size);
    color: hsl(139, 30%, 75%);
}
.about__info-title, .about__info-name{
    display: block;
    text-align: center;
}
.about__buttons{
    display: flex;
    justify-content: center;
}
.about__buttons .button{
    color: #0f0f10;
    background-color: var(--complementary-color);
}
.about__buttons .button:hover{
    color: #0f0f10;
    background-color: hsl(139, 30%, 75%);
}




/* buttons */
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}
.button:hover{
    background-color: var(--first-color-alt);
}
.button__icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}
.button--flex{
    display: inline-flex;
    align-items: center;
}

/* skills */

.skills__container{
    width: 20vw;
    row-gap: 0;
}
.skills__header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}
.skills__icon, .skills__arrow{
    font-size: 2rem;
    color: var(--first-color);
}
.skills__icon{
    margin-right: var(--mb-0-75);
}
.skills__title{
    font-size: var(--h3-font-size);
}
.skills__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.skills__arrow{
    margin-left: auto;
    transition: .4s;
}
.skills__list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}
.skills__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}
.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
.skills__bar, .skills__percentage{
    height: 5px;
    border-radius: .25rem;
}
.skills__bar{
    background-color: var(--first-color-lighter);
}
.skills__percentage{
    display: block;
    background-color: var(--first-color);
}
.skills__spring{
    width: 70%;
}
.skills__docker{
    width: 80%;
}
.skills__postgres{
    width: 90%;
}
.skills__node{
    width: 70%;
}
.skills__java{
    width: 99%;
}
.skills__python{
    width: 70%;
}
.skills__html{
    width: 90%;
}
.skills__css{
    width: 70%;
}
.skills__js{
    width: 90%;
}
.skills__godot{
    width: 60%;
}
.skills__IA{
    width: 70%;
}
.skills__patterns{
    width: 90%;
}

.skills__close .skills__list{
    height: 0;
    overflow: hidden;
}
.skills__open .skills__list{
    height: max-content;
    margin-bottom: var(--mb-2-5);
}
.skills__open .skills__arrow{
    transform: rotate(-180deg);
}


::-webkit-scrollbar{
    width: 0.25rem;
}
::-webkit-scrollbar-track{
    background: #1e1e24;
}
::-webkit-scrollbar-thumb{
    background: #ff0066;
}

main {
    margin-left: 5rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--first-color-alt);
    transition: width 200ms ease;
    /*overflow: scroll;*/
}
.navbar-nav {
    font-weight: var(--font-);
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.navbar:hover {
    width: 16rem;
}
.navbar:hover .link-text {
    display: block;
}
.nav-item {
    width: 100%;
}
.nav-item:last-child {
    margin-top: auto;
}
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: #FFF;
    text-decoration: none;
    /*filter: invert() opacity(0.5) hue-rotate(30deg) saturate(200%);*/
    transition: var(--transition-speed);
}
.nav-link:hover {
    filter: opacity(1) saturate(25%);
    background: var(--first-color-lighter);
    color: var(--first-color);
    /*transition: var(--transition-speed);*/
  }
.nav-link:hover svg {
    filter: invert() opacity(1);
}


.link-text {
    display: none;
    margin-left: 0.5rem;
    filter: opacity(0.8);
}
.nav-link svg {
    filter: invert() opacity(0.6);
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
    .navbar:hover {
        width: 100vw;
    }
    .navbar:hover .link-text {
        display: none;
    }
  }
/* Large screens */
@media only screen and (min-width: 600px) {

    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }

    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  }

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.lavender{
    background: #a970c9;
}

.wine{
    background: #9d0142;
    position: relative;
    align-items: center;
    min-height: 400px;
    width: 100%;
    padding: 100px;
}

.pink{
    background: #ff0066;
}

.dark {
    background: #0f0f10;
}

.spacer{
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.upperwaves{
    background-image: url('../img/upperwaves.svg');
}
.downwaves{
    background-image: url('../img/downwaves.svg');
}

.mural__container{
    width: 55%;
    margin-top: var(--mb-2-5);
    display: table-column;
    align-content: center;
}
.mural__item{
    margin: 20px;
    padding: 25px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: #750a45e5;
    display: grid;
    justify-items: center;
    align-self: center;
}
.mural__img{
    max-height: 400px;
    max-width: 80%;
    padding: 5px;
    background-color: #ffddf05b;
}
.mural__subtitle{
    color: hsl(54, 23%, 91%);
    align-self: center;
    padding-top: 1.5rem;
}

.footer{
    padding-top: 2rem;
}
.footer__container{
    row-gap: 3.5rem;
}
.footer__bg{
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
}
.footer__title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}
.footer__subtitle{
    font-size: var(--small-font-size);
}
.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.footer__link:hover{
    color: var(--first-color-lighter);
}
.footer__social{
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}
.footer__social:hover{
    color: var(--first-color-lighter);
}
.footer__copy{
    font-size: var(--small-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3);
}
.footer__title, .footer__subtitle, .footer__link, .footer__social{
    color: #FFF;
}

.triangle-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.triangle-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 83px;
    transform: rotateY(180deg);
}

.triangle-divider-bottom .shape-fill {
    fill: #9d0142;
}